body{
    margin-top: 40px;
    background-color: rgba(252, 252, 252, 0.577);
    background-image: url("back.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.inp{
    border: 2px  solid rgb(6, 6, 6);
}

.avatar {
    height: 200px;
    border-radius: 120px;
    padding: 10px;
    border: 2px solid #ff0000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;
    background-color: rgb(225, 211, 249);
}

.wrap1{
    background-color: rgba(234, 228, 252) ;
    padding-bottom: 60px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    text-align: center;
    border-radius: 40px;
    margin-bottom: 40px;
    border: 2px  solid grey;

}

.pull{
    text-align: center;
    margin-top: 30px;

}
.wrap2{
    padding-bottom: 60px;
    padding-top: 50px;
    margin-bottom: 20px;
    text-align: center;

}


.hola{

    background: -webkit-linear-gradient(rgb(5, 2, 177), rgb(254, 50, 50));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#id_button1{
    background-color: rgb(244, 228, 252);
    border: 2px solid rgb(7, 7, 7);
    color: rgb(54, 13, 75);
    padding: 20px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
 }

 .button2{
    background-color: #ffffff;
    border: 2px solid rgb(182, 182, 151);
    color: rgb(23, 25, 99);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 190px;
 }

 .button3{
    background-color: #ffffff;
    border: 2px solid rgb(182, 182, 151);
    color: rgb(68, 19, 93);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 190px;
 }



 a{
    color: rgb(23, 25, 99);
    background-color: transparent;
    text-decoration: none;
  }

.form {
    margin:auto;
    width: 600px;
  }


  textarea {
    resize: none;
    height: 50px;
    width: 300px;
    font-size: 30px;
    text-align: center;
 }



.wishlists{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 100px;
    padding-bottom: 100px;
    flex-wrap: wrap;

}

.wishlist{
    background-color: rgb(244, 228, 252, 0.99);
    width: 235px;
    height: 280px;
    border-radius: 16px;
    box-shadow: 0 0 10px grey;

    font-weight: bolder;
    margin-bottom: 30px;
    text-align: center;

}


.items_wrap{
    margin: 0 auto;
}
#title{
    font-size: 50px;
    background: -webkit-linear-gradient(rgb(5, 2, 177), rgb(254, 50, 50));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    margin-bottom: 50px;
  }

.title_item{
    padding-top: 30px;
}

#flash{
    color: white;
    text-align: center;
}

.wrap4{
        width: auto;
        margin-left: 10px;
}

.input_photo {
        background-color:rgb(244,228,252);
        border-radius:8px;
}

.file_input {
        background-color:rgb(244,228,252);
}


file_input:hover::before {
  border-color: black;
}

file_input::before {
  content: 'Select some files';
  color: black;
  display: inline-block;
  background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
}


@media screen and (max-width: 996px) {
    .wrap1{
        width: 400px;

    }
}


