body{
    text-align: center;
    background-color: rgba(252, 252, 252, 0.577);
}

.avatar {
    height: 200px; 
    border-radius: 120px;
    padding: 10px;
    border: 2px solid #ff0000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 10px;
    background-color: rgb(225, 211, 249);
}

.wrap1{
    background-color: rgb(250, 228, 252);
    padding-bottom: 60px;
    margin-top: 20px;
    padding-top: 20px;
    display: block;
    margin-left: 30%;
    margin-right: 30%;
    border-radius: 40px;
    margin-bottom: 40px;

}

.wrap2{
    background-color: rgba(242, 229, 244, 0.577);
    padding-bottom: 60px;
    display: block;
    padding-top: 50px;
    margin-bottom: 20px;
   
}

.wrap4{
    padding-top: 50px; 
    
}




.hola{
    
    background: -webkit-linear-gradient(rgb(5, 2, 177), rgb(254, 50, 50));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#id_button1{
    background-color: #c6a6dd;
    border: 2px solid rgb(200, 162, 226);
    color: rgb(54, 13, 75);
    padding: 20px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
 }

 .button2{
    background-color: #f0ecb3;
    border: 2px solid rgb(182, 182, 151);
    color: rgb(23, 25, 99);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 190px;
 }

 .button3{
    background-color: #d1d7f2;
    border: 2px solid rgb(182, 182, 151);
    color: rgb(54, 13, 75);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 190px;
 }



 a{
    color: rgb(23, 25, 99);
    background-color: transparent;
    text-decoration: none;
  }

.form {
    margin:auto;
    width: 600px;
  }


  textarea {
    resize: none;
    height: 50px;
    width: 300px;
    font-size: 30px;
    text-align: center;
 }

 .wrap3
 {
    position: absolute;
    top: 5%; 
    right: 5%;
}


.wrap5{
    position: absolute;
    top: 15%; 
    right: 5%;
}

