html{
    height: 100%;
  }

body{
    text-align: center;
    background: linear-gradient( rgb(183, 86, 225), 20%, rgb(255, 255, 255), 88%, rgb(183, 86, 225));
    
}

h1{
  font-size: 70px;
  background: -webkit-linear-gradient(rgb(5, 2, 177), rgb(254, 50, 50));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
textarea {
    resize: none;
    height: 50px;
    width: 300px;
    font-size: 30px;
 }

 #id_button1{
    background-color: #872ec7; 
    border: 2px solid rgb(200, 162, 226);
    color: rgb(254, 247, 255);
    padding: 20px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 8px;
 }
.but{
    padding: 8px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 8px;
    margin-top: 20px;
}
 #id_button2{
    background-color: #f6e0fa;
    color: rgb(82, 20, 182);
}

#id_button3{
  background-color: rgb(124, 247, 245); 
  color: rgb(68, 21, 169);
  margin-left: 40px;
  margin-right: 50px;
}

.buttons{
  margin-top: 15px;
  display: flex;
  justify-content: flex-end;
}

#description{
  margin-top: 0px;
  font-size: 30px;
  background: -webkit-linear-gradient(rgb(77, 9, 172), rgb(213, 28, 31));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}








