<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Personal cabinet</title>
    
    <link href= "../static/cabinet.css" rel="stylesheet">
</head>

<body>
    <div class="flex"></div>

    <div class="wrap1">
        <div class="main_img">
            <figure>
                <img src="../static/avatar.jpg" alt="avatar" class="avatar">
            <!-- <figcaption>{{owner}}</figcaption> -->
            </figure>
        </div>

        <div class="hola">
            <h1> Hola, <b>{{username}}!</b></h1>
        </div>
        
    </div>

    <div class="wrap3">
        <div class="button">
            <a href="{{ url_for('create') }}" class="but"><button class="button2">+ New wishlist</button></a>
        </div>
    </div>

    <div class="wrap5">
        <button class="button3"><a href="{{ url_for('logout') }}">Log out</a></button>  
    </div>
</div>

    <div class="wrap2">
        <form id="text" method="POST" action="/">
            <div>
                <p><textarea name="search" placeholder="Input wishlist ID" required form="text"></textarea></p>
                <input type="submit" id="id_button1" value="Find wishlist">
            </div>
        </form>
    </div>

    

    <div class="wrap4">
        <div class="items_wrap">
            <h1 id="title">Your wishlists</h1>
            <div class="wishlists">
                {% for dict_item in wishlists %}
                    <div class="wishlist" id="item1">
                        <p>{{dict_item['title']}}</p>
                        <p>{{dict_item['description']}}</p>
                        <p>{{dict_item['listid']}}</p>
                    </div>
                    
                {% endfor %}
            </div>
            <!-- <p><input type="submit" value="Save"></p> -->
            <!-- </form>-->
        </div>
    
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
            <div class="alert alert-{{ category }}" role="alert">
                {{ message }}
            </div>
            {% endfor %}
        {% endif %}
        {% endwith %}

</div>

<script src="../static/script.js">
</script>
</body>
</html>
