<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create wishlist</title>
    <link href= "../static/create.css" rel="stylesheet">
</head>

<body>
<h1>Create your wishlist!</h1>
<img src="../static/Logo_second.png" alt="pinata" class="img">
	<div class="wrap3">
		<div>
			<a href="{{ url_for('cabinet') }}"><button" id="id_button3" class="but" >Cabinet</button></a>
		</div>
	</div>
<div class="list_wrap">
  <form method="POST" action="/create" enctype="multipart/form-data">
	  <label for="title">Wishlist name:</label>
	  <br>
	  <br>
	  <input type="text" name="wl-title" required id="title">
	  
	  <p class="textform">Input description for your new wishlist</p>
	  <p><textarea name="description" required class="text_descr"></textarea></p>
	  <hr>
	  <h1>New items:</h1>
	  <div id="DynamicExtraFieldsContainer">
        <div id="addDynamicField">

			<div class="DynamicExtraField">
				<br>
				<label for="item">Item name</label>
				<input type="text" name="item-title[]" required id="item">
				<label for="link">Reference</label>
				<input type="text" name="item-link[]" id="link" placeholder="Link to shop website">
				<p class="textform">Input description for your new item</p>
				<p><textarea name="item-descr[]" cols="50"></textarea>
				<br>
				<input type="file" name="file[]" class="forma"></p>
				<hr>
				<br>
			</div>
	    </div>
	  </div>
	  <br>
	  
	  <input type="button" id="addDynamicExtraFieldButton" value="Add item" class="button">
	  <br><br>
	
	<hr class="hr">
	<input type="submit" value="Create wishlist" class="button_create">
	
   </form>
</div>

<script src="../static/dynamic_form.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>

</body>
</html>
