<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete</title>
    <link href= "../static/style.css" rel="stylesheet">
</head>

  <body>
      <h1>Are you sure you want to delete "{{title}}" wishlist?</h1>
        <form class="form" action="" method="post">
                <input id="id_button1" type="submit" class="btn" value="Delete">
        </form>
        <br></br>
        <a href="{{ url_for('cabinet') }}" class="but"><button class="but" id="id_button2">Cabinet</button></a>
  </body>
</html>
