<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pinata</title>
    <link href= "../static/style.css" rel="stylesheet">
</head>

<body>

    <div class="buttons">
        <a href="{{ url_for('auth') }}" class="but"><button class="but" id="id_button2">{{link}}</button></a>
        <a href="{{ url_for('register') }}" class="but"><button class="but" id="id_button3" >Register</button></a>
        <!-- <a href="{{ url_for('auth') }}" class="but"><button class="but" id="id_button2">Cabinet</button></a> -->
    </div>

    <h1 id="head">Piñata</h1>

    <div id="picture">
        <figure class="img">
            <img src="../static/pinata.png" alt="pinata" class="im">
        </figure>
    </div>

    <div>
        <h2 id="description">Make dreams come true!</h2>
    </div>
    <br>

    <form id="text" method="POST" action="/">
        <div>
            <p><textarea name="search" placeholder="Input wishlist ID" required form="text"></textarea></p>
            {% with messages = get_flashed_messages(with_categories=true) %}
             {% if messages %}
                {% for category, message in messages %}
                  <div class="alert alert-{{ category }}" role="alert">
                    {{ message }}
                 </div>
                {% endfor %}
             {% endif %}
             {% endwith %}
            <br>
            <input type="submit" id="id_button1" value="Find wishlist">
        </div>
    </form>

    <script src="../static/script.js">
    </script>

</body>
</html>
