<!DOCTYPE html>
<html>
  <head>
	<title>Register</title>
	<!-- <link rel="stylesheet" href="../static/style.css"> -->
  </head>
  <body>
    <h1>Create account</h1>
    <form method="POST" action="/register">
	  <label for="name">Username:</label>
	  <input type="text" name="name" id="name">
	  <br><br>
	  <label for="password1">Password:</label>
	  <input type="password" name="password1" id="password1">
	  <br><br>
	  <label for="password2">Repeat password:</label>
	  <input type="password" name="password2" id="password2">
	  <br><br>
	  <input type="submit" value="Submit">
    </form>
	<br>
	<!-- <a href="/">Sign in</a> --> 
  </body>
</html>