<!DOCTYPE html>
<html>
  <head>
	<title>Wishlist</title>
	<link rel="stylesheet" href="../static/style_wishlist.css">
  </head>
  <body>
    <h1>Wishlist</h1>
    <figure>
        <img src="../static/avatar.jpg" alt="avatar" class="avatar">
        <figcaption>{{owner}}</figcaption>
    </figure>
    
    <div class="wrapper">
            <div class="div">
                <p class="name">Whishlist id</p>
                <p class="text">{{id}}</p>
            </div>

            <div class="div">
                <p class="name">Whishlist title</p>
                <p class="text">{{title}}</p>
            </div>
    </div>

    <div class="description">
            <p class="name">Description</p>
            <p>{{description}} Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus dicta, qui assumenda, doloremque, tempora ab recusandae quas natus dolore neque dolorum eius nostrum nemo possimus. Impedit deserunt molestiae voluptates laborum.</p>
    </div>

    <div class="items_wrap">
        <p id="title">ITEMS</p>
        <div class="items">
            
            <div class="item" id="item1">
                <p>item 1</p>
                <img src="../static/pic/1.jpg" alt="" class="img_item">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
            </div>
            <div class="item" id="item2">
                <p>item 2</p>
                <img src="../static/pic/2.jpg" alt="" class="img_item">
            </div>
            <div class="item" id="item3">
                <p>item 3</p>
                <img src="../static/pic/3.jpeg" alt="" class="img_item">
            </div>
            <div class="item" id="item4">
                <p>item 4</p>
                <img src="../static/pic/4.jpg" alt="" class="img_item">
           
            </div>
            <div class="item" id="item4">
                <p>item 4</p>
                <img src="../static/pic/4.jpg" alt="" class="img_item">
           
            </div>
            <div class="item" id="item4">
                <p>item 4</p>
                <img src="../static/pic/4.jpg" alt="" class="img_item">
           
            </div>

    </div>
  </body>
</html>